[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
python-language-server = {extras = ["all"],version = "*"}

[packages]
boto3 = "*"
pandas = "*"
botocore = "*"
psycopg2-binary = "*"
microservices = {editable = true,path = "./.."}
numpy = "*"

[requires]
python_version = "3.7"
