[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apiclient = "*"
backoff = "*"
boto3 = "*"
pandas = "*"
botocore = "*"
httplib2 = "*"
psycopg2-binary = "*"
google-api-python-client = "*"
oauth2client = "*"
python-dateutil = "*"
microservices = {editable = true,path = "./.."}
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.7"
