# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Ignore runtime, where dependencies are stored
/runtime/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Eclipse project files
.classpath
.project
.settings/
.recommenders/

# Gradle
.gradle/
build/
bin/
gen/

subprojects/*/bin
.metadata/

# Java class files
*.class

# local files
atlassian-ide-plugin.xml