[Looker]
# Copy this file to your home directory, put your own unique credentials as explained in Readme.md and rename it to looker.ini 
# Base URL for API. Do not include /api/* in the url 
base_url="https://analytics.gov.bc.ca:19999"
# API 3 client 
## Replace <client_id> with your Client ID
client_id="<client_id>"
# API 3 
## Replace <client_secret> with your client secret
client_secret="<client_secret>"
# Set to false if testing locally against self-signed certs. Otherwise leave True
verify_ssl=True
# Timeout in seconds for HTTP requests. Defaults to 2 minutes (120) seconds if not specified.
timeout=300
