[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
python-language-server = {extras = ["all"],version = "*"}

[packages]
pytz = "*"
boto3 = "*"
pandas = "*"
tzlocal = "*"
botocore = "*"
ua-parser = "*"
referer-parser = "*"
psycopg2-binary = "*"
microservices = {editable = true,path = "./.."}

[requires]
python_version = "3.7"
